.Exercises-YouTube {
  font-family: Roboto, Arial, sans-serif;
  padding-top: 57px;
  padding-left: 72px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 40px;
  padding: 20px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.icons {
  height: 24px;
  cursor: pointer;
  fill: white;
  margin-left: 20px;
  margin-right: 20px;
}

.icon {
  cursor: pointer;
  height: 25px;
}