.video-card {
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  transition: 0.15s;
}

.video-title {
  font-size: 14px;
  margin-top: 0;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  line-height: 20px;
  margin-bottom: 12px;
  transition: 0.15s;
}

.profile-picture {
  width: 40px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.15s;
}

.video-author,
.video-stats {
  color: rgb(170, 170, 170);
  font-size: 12px;
}

.video-author {
  margin-bottom: 4px;
}

.thumbnail-row {
  margin-bottom: 10px;
}

.thumbnail:hover,
.video-title:hover,
.profile-picture:hover,
.channel-link:hover {
  opacity: 0.8;
}

.channel-link {
  color: rgb(170, 170, 170);
  text-decoration: none;
}

.description-link {
  color: white;
  text-decoration: none;
}

.pfp-channel-link {
  text-decoration: none;
}